<p style="color: green"><%= notice %></p>

<p>Signed in as <%= Current.email %></p>

<h2>Login and verification</h2>

<%= react_component("HomeIndexPage", @data) %>

<%= button_to "Log out", sessions_path, method: :delete %>
